@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Library</h1>
    <p>Explore endless worlds, embark on literary adventures, and discover the treasures of knowledge waiting for you within our virtual shelves. Whether you're seeking fiction, non-fiction, or academic resources, we're here to guide you on your quest for enlightenment. Begin your journey now and let the magic of reading unfold before you!</p>
</div>